<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Insert</title>
</head>
<body>
    <h1>Insert new products</h1>
    <hr>
    <form action="/insert" method="POST">
        <h4>Product Description</h4>
        <input name='product_desc'/>
        <br>
        <h4>Category ID</h4>
        <input name='category_id' />
        <br>
        <div class="button-wrapper">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>